# node_modules는 builder가 다시 설치함
node_modules
.next
out
dist

# 로그 파일 및 환경 변수
npm-debug.log
pnpm-debug.log
yarn-debug.log
yarn-error.log
.env*
.DS_Store

# Git 관련 파일
.git
.gitignore
.gitattributes

# 운영체제 관련 파일
*.swp
*.swo
*.bak
*.tmp

# CI/CD, 문서 관련 파일
.github
.vscode
.idea
*.md
*.pdf